.header-container{
    display: flex;
    align-items: center;
    height: 52px;
    background-color: #070707;
    justify-content: space-between;
}
ul,
ul li {
  list-style: none;
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.header-list{
    display: flex;
    gap: 50px;

}
.logo-flame{
    width: 35px;
    height: 45.5px;
    margin-right: 10px;
    margin-left: 10px;
    fill: #BD00FF;
    transition: fill 0.3s ease;
}
.logo-header{
    display: flex;
    align-items: center;
    max-height: 52px;
}

.header-button-signin{
  padding: 0;
  width: 123px;
  height: 42px;
  border-radius: 5px;
  border: 2px solid #BD00FF;
  background: transparent;
  color: white;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.02em;
  transition: background-color ease-in-out 0.3s;
  margin-right: 40px;
}
.header-button-signin:hover {
  background-color: #BD00FF;
}

.header-button-signin:focus {
  background-color: #BD00FF;
  outline: none;
}

.header-button-signup{
  padding: 0;
  width: 123px;
  height: 42px;
  border-radius: 5px;
  border: 2px solid #BD00FF;
  background: #BD00FF;
  color: white;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.02em;
  transition: background-color ease-in-out 0.3s;
  margin-right: 26px;
}
.header-button-signup:hover {
  background-color: transparent;
}

.header-button-signup:focus {
  background-color: transparent;
  outline: none;
}

.header-li{
  color: white;
  font-family: Roboto;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 0.3s ease;
}
.header-li:focus,
.header-li:hover{
  color: #ad2b89;
}
.header-logo-text{
  color: white;
  font-family: Aubrey;
  font-size: 48px;
  letter-spacing: 0.02em;
  transition: color 0.3s ease;
}
.logo-header:focus .header-logo-text,
.logo-header:focus .logo-flame,
.logo-header:hover .header-logo-text,
.logo-header:hover .logo-flame,
.header-logo-text:focus,
.header-logo-text:hover,
.logo-flame:focus,
.logo-flame:hover {
  color: #BD00FF;
  fill: white;
}
.search-header{
  border-radius: 5px;
  background: #302D2D;
  border: none;
  outline: none;
  height: 35px;
  width: 100%;
  max-width: 243px;
  color: white;
  font-size: 20px;
  padding-left: 20px;
}
header {
    background-color: #4e4e4e;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: none;
    border-radius: 7px;
    outline: none;
    width: 200px;
    background-color: #302D2D;
    color: white;
    transition: width 0.3s ease-in-out;
}
.search-input::placeholder{
  color: white;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.search-icon {
    position: absolute;
    width: 19px;
    height: 19px;
    right: 10px;
    cursor: pointer;
    fill: white;
    transition: color 0.3s ease-in-out;

}