body{
  margin: 0;
}
.registration-container{
    display: flex;
    width: 100%;
    height: 100VH;
    max-height: 1024px;
    overflow: hidden;
    background-color: black;
    justify-content: center;
}
.login-image{
    width: 100%;
    max-width: 1024px;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    background: rgba(211, 211, 211, 0.5) url('../img/reg-img.png') 50% / cover no-repeat;
    filter: grayscale(100%);
}
.registration-form-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 612px;
  margin: 44px;
  color: #FCFCFC;
  align-items: center;
}

.signup{
  color: #FCFCFC;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 500;
  letter-spacing:0.02em;
  margin-bottom: 36px;
  margin-top: 0;

  width: 230px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  animation: typing 0.8s steps(8) forwards, blinking 1.5s infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 230px }
}

@keyframes blinking {
  0% {border-right-color: transparent}
  50% {border-right-color: rgb(255, 255, 255)}
  100% {border-right-color: transparent}
}

.registration-form{
  display: flex;
  flex-direction: column;
}
.registration-label-username{
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  margin-left: 10px;

  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing-label 0.8s steps(9) forwards;
  animation-delay: 0.9s;
}
@keyframes typing-label {
  from { width: 0 }
  to { width: 125px }
}
.reg-name{
  width: 400px;
  height: 50px;
  border-radius: 5px;
  background: #302D2D;
  border: none;
  text-align: center;
  color: white;
  font-size: 22px;
  margin-top: 10px;
}

.reg-name:focus {
  outline: 2px dashed #ad2b89;
  outline-offset: 0.2em;
}

.registration-label-password{
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;

  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing-label-password 0.8s steps(8) forwards;
  animation-delay: 1.9s;
}


@keyframes typing-label-password {
  from { width: 0 }
  to { width: 115px }
}

.registration-label-password-confirm{
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;

  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing-label-password-confirm 1s steps(16) forwards;
  animation-delay: 2.7s;
}


@keyframes typing-label-password-confirm {
  from { width: 0 }
  to { width: 205px }
}
.reg-password{
  width: 400px;
  height: 50px;
  border-radius: 5px;
  background: #302D2D;
  border: none;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-size: 22px;
  margin-top: 10px;
}
.reg-password:focus {
  outline: 2px dashed #ad2b89;
  outline-offset: 0.2em;
}

.form-button-signup{
  width: 410px;
  height: 87px;
  border-radius: 5px;
  border: 4px solid #BD00FF;
  background: transparent;
  color: #C4C4C4;
  font-family: Roboto;
  font-size: 30px;
  letter-spacing: 0.02em;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 35px;
}
.form-button-signup:hover {
  background-color: #BD00FF;
  color: #fff;
}

.form-button-signup:focus {
  background-color: #BD00FF;
  color: #fff;
  outline: none;
}

/**
  |============================
  | MOBILE MAX 428
  |============================
*/

@media(max-width:428px){
  .registration-form-container{
    margin: 0;
  }
  .registration-container{
    flex-direction: column;
    gap: 20px;
  }
  .login-image{
    display: none;
  }
  .registration-label-username{
    margin-top: 25px;
  }
  .reg-name{
    width: 100%;
    max-width: 320px;
  }
  .registration-label-password{
    margin-top: 25px;
  }
  .registration-label-password-confirm{
    margin-top: 25px;
  }
  .reg-password{
    width: 100%;
    max-width: 320px;
  }
  .registation-form{
    padding: 0;
  }
  .form-button-signup{
    width: 100%;
    margin-top: 25px;
  }
}
/**
  |============================
  | TABLET MAX 1024px
  |============================
*/
@media( min-width: 428.1px) and (max-width:1024px){
  .login-image{
    display: none;
  }
  .registration-container{
    justify-content: center;
    padding-top: 50px;
    max-height:max-content;
    padding: 0;
  }
  .registration-form-container{
    margin-top: 80px;
  }
  .registration-label-password{
    margin-top: 20px;
  }
  .registration-label-username{
    margin-top: 30px;
  }
  .form-button-signup{
    margin-top: 30px;
  }
  .reg-password{
    margin-top: 10px;
    height: 60px;
  }
  .reg-name{
    margin-top: 10px;
    height: 60px;
  }
}